@model fa18Team28_FinalProject.Models.ManagerOrder

@{
    ViewData["Title"] = "AutomaticReorder";
}

<h2>AutomaticReorder</h2>

<h4>Manager Order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AutomaticReorder">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ManagerOrderNumber" class="control-label"></label>
                <input asp-for="ManagerOrderNumber" class="form-control" />
                <span asp-validation-for="ManagerOrderNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ManagerOrderDate" class="control-label"></label>
                <input asp-for="ManagerOrderDate" class="form-control" />
                <span asp-validation-for="ManagerOrderDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="ManagerOrderStatus" /> @Html.DisplayNameFor(model => model.ManagerOrderStatus)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="ManagerOrderDetailNotes" class="control-label"></label>
                <input asp-for="ManagerOrderDetailNotes" class="form-control" />
                <span asp-validation-for="ManagerOrderDetailNotes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
