@model fa18Team28_FinalProject.Models.ManagerOrder

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>ManagerOrder</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ManagerOrderID" />
            <div class="form-group">
                <label asp-for="ManagerOrderDate" class="control-label"></label>
                <input asp-for="ManagerOrderDate" class="form-control" />
                <span asp-validation-for="ManagerOrderDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ManagerOrderDetailNotes" class="control-label"></label>
                <input asp-for="ManagerOrderDetailNotes" class="form-control" />
                <span asp-validation-for="ManagerOrderDetailNotes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
