@model fa18Team28_FinalProject.Models.Supplier

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Supplier</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SupplierID" />
            <div class="form-group">
                <label asp-for="SupplierName" class="control-label"></label>
                <input asp-for="SupplierName" class="form-control" />
                <span asp-validation-for="SupplierName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SupplierEmail" class="control-label"></label>
                <input asp-for="SupplierEmail" class="form-control" />
                <span asp-validation-for="SupplierEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SupplierPhone" class="control-label"></label>
                <input asp-for="SupplierPhone" class="form-control" />
                <span asp-validation-for="SupplierPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstablishedDate" class="control-label"></label>
                <input asp-for="EstablishedDate" class="form-control" />
                <span asp-validation-for="EstablishedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="PreferredSupplier" /> @Html.DisplayNameFor(model => model.PreferredSupplier)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="SupplierNotes" class="control-label"></label>
                <input asp-for="SupplierNotes" class="form-control" />
                <span asp-validation-for="SupplierNotes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
