@page
@{
    @using fa18Team28_FinalProject.Controllers
}


<h2>Detailed Search</h2>
<form asp-action="DisplaySearchResults" asp-controller="Search" method="get">
    <div class="form-group">
        <label>Title:</label>
        <input name="searchTitle" class="form-group" />
    </div>
    <div class="form-group">
        <label>Author:</label>
        <input name="searchAuthor" class="form-group" />
    </div>

    <div class="form-group">
        <label>Unique ID:</label>
        <input name="searchUniqueID" class="form-group" />
    </div>
    <div class="form-group">
        <label>Choose a genre:</label>
        @Html.DropDownList("SelectedGenre", (SelectList)ViewBag.AllGenres, new { @class = "form-control" })
    </div>

    @* Add the radio buttons/filtering things if we decide to keep it in the detailed search and not the index*@
    @*
    <div class="form-group">
        <label>Number of stars:</label>
        <input name="StarString" class="form-control" /> <div class="text-danger">@ViewBag.Message</div>
        <label class="radio">@Html.RadioButton("Star", Classification.GreaterThan)Greater Than</label>
        <label class="radio">@Html.RadioButton("Star", Classification.LessThan)Less Than</label>
    </div>*@

    <button type="submit" class="btn btn-danger">Search</button>
</form>
`