@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

<h2>Welcome to Bevo's Books</h2>


<a asp-controller="Search" asp-action="Index" class="btn btn-info">Browse the Library</a>

<<<<<<< HEAD
<a asp-controller="Reports" asp-action="Index" class="btn btn-info">Reports</a>
=======
@if (User.Identity.IsAuthenticated)
{
    <a asp-controller="CustomerOrders" asp-action="Index" class="btn btn-info">Place an Order</a>

    if (User.IsInRole("Manager"))
    {
        <a asp-controller="Books" asp-action="Index" class="btn btn-info">Inventory</a>
        <a asp-controller="ManagerOrders" asp-action="Index" class="btn btn-info">Re-stock Orders</a>
    }
}
>>>>>>> e554cca993dc2dd1831e02ce7c5faffe8908061b
