<h2>Welcome to Bevo's Books</h2>

<a asp-controller="Books" asp-action="Index" class="btn btn-info">Inventory</a>

<a asp-controller="CustomerOrders" asp-action="Index" class="btn btn-info">Place an Order</a>

<a asp-controller="Search" asp-action="Index" class="btn btn-info">Browse the Library</a>