@model IEnumerable<fa18Team28_FinalProject.Models.Book>
@using fa18Team28_FinalProject.Controllers

<h2>Generate a Report</h2>
<form asp-action="Index" asp-controller="Reports" method="get">
    <p class="form-group">
        <a asp-action="DisplayBookReport" class="btn btn-success">Books Sold Report</a>
        <a asp-action="DisplayOrderReport" class="btn btn-success">Orders Report</a>
        <a asp-action="DisplayCustomerReport" class="btn btn-success">Customers Report</a>
        <a asp-action="DisplayTotalsReport" class="btn btn-success">Totals Report</a>
        <a asp-action="DisplayInventoryReport" class="btn btn-success">Inventory Report</a>
        <a asp-action="DisplayReviewsReport" class="btn btn-success">Reviews Report</a>
    </p>
</form>

@{
    ViewData["Title"] = "View";
}