@model IEnumerable<fa18Team28_FinalProject.Models.Book>
@using fa18Team28_FinalProject.Controllers

@{
    ViewData["Title"] = "View";
}
<h2>Reviews Report</h2>
<table class="table">
    <thead>
        <tr>
          
            <th>
                @Html.DisplayNameFor(model => model.Reviews.Count())
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PurchaseCount)
            </th>
       
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
           <td>
                @Html.DisplayFor(modelItem => item.Reviews.Count)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UniqueID)
            </td>
        </tr>
        }
    </tbody>
</table>
