@model IEnumerable<fa18Team28_FinalProject.Models.CustomerOrderDetail>

<h2>Totals Report</h2>

<table class="table">
   <thead>
        <tr>
            <th>
                Total Profit
            </th>
            <th>
                Total Cost
            </th>
            <th>
                Total Revenue
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                $@ViewBag.TotalProfit
            </td>
            <td>
                $@ViewBag.TotalCost
            </td>
            <td>
                $@ViewBag.TotalRevenue
            </td>
        </tr>
    </tbody>
</table>