@model IEnumerable<fa18Team28_FinalProject.Models.CustomerOrderDetail>

<p> Total Profit: @ViewBag.TotalProfit</p>
@foreach (var item in Model)
{

    @Html.DisplayFor(modelItem => item.ProductPrice)


}

<p> Total Cost:</p>
@foreach (var item in Model)
{
    @Html.DisplayFor(modelItem => item.Book.Cost)
}


    <p> Total Revenue: </p>
    @foreach (var item in Model)
    {
    @Html.DisplayFor(modelItem => item.ProfitMarginTotal)
}
