@model IEnumerable<fa18Team28_FinalProject.Models.CustomerOrderDetail>

<p> Total Profit: @Html.DisplayNameFor(model => model.Book.Price) </p>
<p> Total Cost: @Html.DisplayNameFor(model => model.Book.Price) </p>
<p> Total Revenue: @Html.DisplayNameFor(model => model.Book.Price) </p>
